doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/sweetAlert.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css')
  body
    .container
      ul.nav.nav-pills
        li(role='presentation')
          a(href='/') Home
        li(role='presentation')
          a(href='about') About
        li(role='presentation')
          a(href='/apis') Apis
        li(role='presentation')
          a(href='/methods') Methods
    .bg-primary
      .container
        .center-block
          h1= title || message
    .container
      block content
    script(src='/javascripts/jquery-2.1.4.js')
    script(src='/javascripts/sweetAlert.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/global.js')
    script(src='/javascripts/prettify.js')
