extends ../layout

block content
  h2 Introduction
  p Here a quick introduction to a CRUD skeleton with Node, Express and Mongo => 
    a(href="https://www.airpair.com/javascript/complete-expressjs-nodejs-mongodb-crud-skeleton") airpair