extends ../layout

block content
  h1 Welcome
  p to this beautiful Api to create Apis.
  p #Meta

  .container
    h2 ToDo :
    ul.list-group
      li.list-group-item
        p list liens possibles
      li.list-group-item 
        p (done) action groupées
      li.list-group-item 
        p html5 vidéo