extends ../layout

block content
  br
  br
  .container
    ul.list-group
      li.list-group-item
        button.btn.btn-info.no-follow(data-href='api/allLights/on/0') All lights on
      li.list-group-item
        button.btn.btn-info.no-follow(data-href='api/allLights/off/0') All lights off
      li.list-group-item
        button.btn.btn-info.no-follow(data-href='api/bravia/power/on') Turn tv on
      li.list-group-item 
        button.btn.btn-info.no-follow(data-href='api/tv/widget/menu') Show menu
      li.list-group-item
        button.btn.btn-info.no-follow(data-href='api/tv/widget/meteo') Show meteo
      li.list-group-item
        button.btn.btn-info.no-follow(data-href='api/tv/control/MUTE') Mute
      li.list-group-item
        button.btn.btn-info.no-follow(data-href='api/tv/chanel/1') Set chanel 1
      li.list-group-item
        button.btn.btn-info.no-follow(data-href='api/tv/chanel/2') Set chanel 2
      li.list-group-item
        button.btn.btn-info.no-follow(data-href='api/bravia/power/off') e